# Notion
NOTION_TOKEN=tu_token_notion_aqui
NOTION_DATABASE_ID=2fe6046f0fee81719744f6bd897e0dc3

# Claude API
CLAUDE_API_KEY=tu_clave_claude_aqui

# Google Chat
GOOGLE_CHAT_TOKEN=tu_token_google_chat_aqui
GOOGLE_CHAT_SPACE=spaces/XXXXXX

# Google Cloud
GOOGLE_APPLICATION_CREDENTIALS=/app/credentials.json

# Puerto
PORT=8080

# Entorno
NODE_ENV=production
